@import "../../../../variables.scss";

.PersonalInfo {
	padding-right: 4rem;
	max-height: 90vh;
	overflow: auto;

	.hero {
		width: 100%;
		height: 15vh;
		text-align: center;
		margin-top: 1rem;
		user-select: none;
		.title {
			font-size: 1.5rem;
			font-weight: 500;
		}
		.subtitle {
			color: $dark_gray_1;
		}
        .actions {
            margin-top: 1rem;
            width: 100%;
            
            ul {
                display: flex;
                align-items: center;
                justify-content: end;
                list-style: none;

                a {
                    color: $solid_blue;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
	}
	.info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 2rem 0;
		gap: 2rem;
		height: auto;
	}
}
