#Main {
	display: flex;
	height: calc(100vh - 40px - 30px);

	.sidebar {
		flex: 0.3;
	}
	.content {
		flex: 1;
		padding: 1rem 2rem;
		overflow: auto;

		.section-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			user-select: none;
			font-size: 1.2rem;
			font-weight: bold;
			margin-bottom: 1rem;
		}
	}
}
