@import "../../variables.scss";

.CardContainer {
	.flex {
		display: flex;
		align-items: center;
        gap: 1rem;
	}

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .title {
        user-select: none;
        margin-bottom: 1rem;
        color: $solid_blue;
    }

	margin-top: 1rem;

	.Card {
		user-select: none;
		padding: 1rem;
		transition: all 250ms;

		&.folder,
		&.small {
			display: flex;
			align-items: center;
			height: 40px;
			width: max-content;
			border-radius: 5px;
			background: $light_gray_2;

			&:hover {
				background: $medium_gray_1;
			}

			.name {
				margin-left: 0.5rem;
				font-size: 0.9rem;
			}
		}

        &.image:not(.small) {
            width: 100%;
            border: 1px solid;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
	}
}
