@import "../../variables.scss";

.metadata {
    margin-top: 1rem;

    .data {
        margin: 1rem 0;

        &:first-child {
            margin-top: 0;
        }

        p {
            user-select: none;
            color: $medium_gray_2;
            margin-bottom: .2rem;
            font-size: .9rem;
            font-weight: bold;
        }
    }
}