.CardContainer {
  margin-top: 1rem;
}
.CardContainer .flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.CardContainer .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.CardContainer .title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 1rem;
  color: #457b9d;
}
.CardContainer .Card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 1rem;
  transition: all 250ms;
}
.CardContainer .Card.folder, .CardContainer .Card.small {
  display: flex;
  align-items: center;
  height: 40px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  background: #e6e9ed;
}
.CardContainer .Card.folder:hover, .CardContainer .Card.small:hover {
  background: #ccd1d9;
}
.CardContainer .Card.folder .name, .CardContainer .Card.small .name {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.CardContainer .Card.image:not(.small) {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}