.Sidebar {
  width: 100%;
  border-right: 1px solid #656d78;
  padding: 1rem 1.5rem;
  background: #e6e9ed;
  height: 100%;
}
.Sidebar .Menus {
  height: 65vh;
}
.Sidebar .Menus .menu {
  list-style: none;
  margin-bottom: 0.5rem;
}
.Sidebar .Menus .menu.trash-bin a.active {
  background: #e63946;
  color: #ffffff;
}
.Sidebar .Menus .menu a {
  color: #000000;
  width: 100%;
  height: 35px;
  transition: all 250ms;
  padding: 0 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.Sidebar .Menus .menu a span {
  margin-left: 0.5rem;
}
.Sidebar .Menus .menu a:hover, .Sidebar .Menus .menu a.active {
  background: #1d3557;
  color: #ffffff;
}
.Sidebar .Menus .menu a.trash-bin:hover, .Sidebar .Menus .menu a.trash-bin.active {
  background: #e63946;
  color: #ffffff;
}
.Sidebar .Menus .menu a.subMenu:hover, .Sidebar .Menus .menu a.subMenu.active {
  background: #e6e9ed;
  color: #000000;
}
.Sidebar .Menus .menu-expand {
  height: auto;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.Sidebar .Menus .menu-expand .expand-title {
  color: #000000;
  width: 100%;
  height: 35px;
  transition: all 250ms;
  padding: 0 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Sidebar .Menus .menu-expand .expand-title .title {
  display: flex;
  align-items: center;
}
.Sidebar .Menus .menu-expand .expand-title .title span {
  margin-left: 0.5rem;
}
.Sidebar .Menus .menu-expand .expand-title .title .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sidebar .Menus .menu-expand .expand-title .expand-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms;
}
.Sidebar .Menus .menu-expand .expand-title .expand-icon.expanded {
  transform: rotate(90deg);
}
.Sidebar .Menus .menu-expand .expand-title:hover, .Sidebar .Menus .menu-expand .expand-title.active {
  background: #1d3557;
  color: #ffffff;
}
.Sidebar .Menus .menu-expand .submenu {
  margin-top: 0.5rem;
  padding: 0 1rem;
  height: 0;
  visibility: collapse;
  transition: all 250ms;
  opacity: 0;
}
.Sidebar .Menus .menu-expand .submenu .subMenu:hover {
  background: #ccd1d9;
}
.Sidebar .Menus .menu-expand .submenu.expanded {
  height: 15vh;
  max-height: 30vh;
  opacity: 1;
  visibility: visible;
}
.Sidebar .Account {
  height: 10vh;
  margin-top: 1rem;
}
.Sidebar .Account .storage .title {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.9rem;
  color: #434a54;
}
.Sidebar .Account .storage .title .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sidebar .Account .storage .title span {
  margin-left: 0.5rem;
}
.Sidebar .Account .storage .storage-bar {
  margin-top: 0.35rem;
}
.Sidebar .Account .storage .storage-bar .bar-container {
  width: 100%;
  background: #ccd1d9;
  height: 10px;
  border-radius: 50px;
  position: relative;
}
.Sidebar .Account .storage .storage-bar .bar-container .bar {
  height: 100%;
  border-radius: inherit;
}
.Sidebar .Account .storage .storage-bar .storage-used {
  margin-top: 0.3rem;
  font-size: 0.78rem;
  color: #434a54;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.Sidebar .Account .storage .storage-bar .storage-used .using {
  margin-right: 0.2rem;
}
.Sidebar .Account .storage .storage-bar .storage-used .total {
  margin-left: 0.2rem;
}
.Sidebar .Account .storage .storage-bar .storage-used .percentage {
  margin-left: 0.3rem;
}