@import "../../variables.scss";

.Footer {
    height: 40px;
    border-top: 1px solid $dark_gray_1;
    background: $light_gray_2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 2rem;

    .version {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        .version {
            font-size: .8rem;
            margin-left: .4rem;

            .channel {
                transition: color 250ms;
                &:hover {
                    color: $solid_blue;
                }
            }
        }
    }
}