// Light Gray
$light_gray_1: #f5f7fa;
$light_gray_2: #e6e9ed;

// Medium Gray;
$medium_gray_1: #ccd1d9;
$medium_gray_2: #aab2bd;

// Dark Gray
$dark_gray_1: #656d78;
$dark_gray_2: #434a54;

// Black
$black: #000000;

// White
$white: #ffffff;

// Danger
$danger: #e63946;
$success: #a0d468;
$warning: #ffce54;
$soft_blue: #a8dadc;
$solid_blue: #457b9d;
$dark_blue: #1d3557;

